.header-text {
    color: blanchedalmond;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    margin-top: 0.3em;
}
.header-logo {
    width: 40px;
    height: auto;
    border-radius: 15%;
}
.nav > li > a:focus, 
.nav > li > a:hover,
.navbar-brand:focus,
.navbar-brand:hover {
    text-decoration: none;
    background-color: transparent;
    color: burlywood;
    opacity: 85%;
    transition: color 0.3s ease-in-out;
}

#backgroundVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.first {
    font-size: 10rem;
}
.title {
    font-size: 5rem;
}
.name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    color: blanchedalmond;
    z-index: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 70%;
}