.header-text {
    color: blanchedalmond;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    margin-top: 0.3em;
}
.header-logo {
    width: 40px;
    height: auto;
    border-radius: 15%;
}
.nav > li > a:focus, 
.nav > li > a:hover,
.navbar-brand:focus,
.navbar-brand:hover {
    text-decoration: none;
    background-color: transparent;
    color: burlywood;
    opacity: 85%;
    transition: color 0.3s ease-in-out;
}

.first {
    right: -0.35em;
    top: 1em;
    position: fixed;
    font-size: 10rem;
}
.last {
    right: 1.5em;
    top: 2.5em;
    position: fixed;
    font-size: 8rem;
}
.name {
    transform: rotate(90deg);
    color: blanchedalmond;
    opacity: 50%;
    z-index: 0;
    position: fixed;
    top: 500px;
    right: -100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#backgroundVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.resume-container {
    position: fixed;
    width: 30%;
    padding-bottom: 39%;
    right: 20rem;
    top: 10rem;
}
  
.resume-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.content-container {
    position: fixed;
    flex-wrap: wrap;
    flex-direction: column;
    color: blanchedalmond;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(114, 74, 48, 0.85);
    width: 45%;
    padding-left: 3em;
    padding-right: 2.25em;
    overflow: hidden;
    line-height: 1em;
}
.content-container#esports {
    top: 10rem;
    left: 10rem;
}
.content-container#internship {
    top: 40rem;
    left: 10rem;
}
.content-container#close {
    padding-top: 1.5em;
    top: 62.5rem;
    left: 10rem;
}
.content-container h3 {
    padding-top: 0.5em;
    font-weight: 600;
}
.content-container h4 {
    font-style: italic;
    padding-bottom: 1em;
}
.content-container p {
    font-weight: 300;
    line-height: 1.6em;
    font-size: 14px;
}
.content-container li {
    font-size: 14px;
    padding-bottom: 1em;
}
.content-container .content-close {
    padding-bottom: 1em;;
}

@media (max-width: 1300px) {
    .last {
        right: -4em;
        top: 1.52em;
    }
    .content-container {
        width: 75%;
    }
    .resume-container {
        position: fixed;
        width: 50%;
        padding-bottom: 64%;
        top: 80rem;
        left: 50%;
        transform: translate(-50%);
    }
} 