*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/*   THIS SECTION IS FOR THE HAMBURGER BAR  */
/* ---------------------------------------- */
/* ---------------------------------------- */

:root {
    /* This is for the sidebar */
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: #333;
    --background: white;
    --hamburger-margin: 5px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height)*3 + var(--hamburger-gap)*2)
}

.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);

    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 3;
    cursor: pointer;
}

.hamburger-menu:has(input:checked) {
    --foreground: white;
    --background: #333;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing);
    transform-origin: left center;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height)/-2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height)/2);
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

.sidebar {
    position: fixed;
    transition: translate var(--animation-timing);
    translate: -100%;
    padding: 0.5rem 1rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    background-color: var(--foreground);
    color: var(--background);
    max-width: 10rem;
    min-height: 100vh;
    z-index: 2;
}

.hamburger-menu:has(input:checked) + .sidebar {
    translate: 0;
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/* THIS SECTION IS FOR THE BACKGROUND VIDEO */
/* ---------------------------------------- */
/* ---------------------------------------- */

#backgroundVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/*      THIS SECTION IS FOR THE SLIDER      */
/* ---------------------------------------- */
/* ---------------------------------------- */

#sky {
    position: fixed;
    bottom: 4px;
    left: 11px;
    font-weight: 500;
}

#nature {
    position: fixed;
    bottom: 4px;
    left: 110px;
    font-weight: 500;
}

.switch {
    position: fixed;
    display: inline-block;
    width: 60px;
    height: 34px;
    left: 45px;
    bottom: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    z-index: 3;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #333;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #117964;
}

input:focus + .slider {
    box-shadow: 0 0 1px #117964;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/*    THIS SECTION IS FOR THE NAV BUTTONS   */
/* ---------------------------------------- */
/* ---------------------------------------- */

.menu-items li {
    list-style: none;
    margin-left: -2.9rem;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    z-index: 4;
}

.menu-items a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: x-large;
    transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
    color: #117964;
    transition: color 0.3s ease-in-out;
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/*        THIS SECTION IS FOR MY NAME       */
/* ---------------------------------------- */
/* ---------------------------------------- */

.my-name {
    position: fixed;
    opacity: 25%;
    z-index: 0;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.my-name h1 {
    transform: rotate(-90deg);
    position: fixed;
    left: -120px;
    top: 450px;
    font-size: 60px;
}

.my-name h2 {
    transform: rotate(-90deg);
    position: fixed;
    left: -88px;
    top: 100px;
    font-size: 60px;
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/*      THIS SECTION IS FOR SOCIAL MEDIA    */
/* ---------------------------------------- */
/* ---------------------------------------- */

#instagram {
    position: fixed;
    width: 37px;
    height: auto;
    bottom: 100px;
    left: 59px;
    border-radius: 25%;
}

#leetcode {
    position: fixed;
    width: 37px;
    height: auto;
    bottom: 145px;
    left: 81.5px;
    border-radius: 25%;
}

#facebook {
    position: fixed;
    width: 37px;
    height: auto;
    bottom: 100px;
    left: 104px;
    border-radius: 25%;
}

#github {
    position: fixed;
    width: 37px;
    height: auto;
    bottom: 145px; 
    left: 36.5px;
    border-radius: 25%;
}

#linkedin {
    position: fixed;
    width: 37px;
    height: auto;
    bottom: 100px;
    left: 14px; 
    border-radius: 25%;
}



/*                                          index.html                                          */



/* ---------------------------------------- */
/* ---------------------------------------- */
/*    THIS SECTION IS FOR THE TEXT BOXES    */
/* ---------------------------------------- */
/* ---------------------------------------- */

.about-me {
    position: fixed;
    min-width: min-content;
    width: 55%;
    padding-top: 15px;
    padding-left:70px;
    padding-right: 70px;
    height: 330px;
    left: 150px;
    margin:30px;
    margin-right:30px;
    margin-bottom: 70px;
    background-color: #0245A3;
    line-height:1.9;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5  );
    font-weight: 500;
    overflow: auto;
    white-space: normal;
    z-index: 2;
  }

  .about-me h1 {
    margin-bottom: 10px;
  }


  #about-me-cont {
    position: fixed;
    min-width: min-content;
    width: 55%;
    padding-left:70px;
    padding-right: 70px;
    height: 275px;
    right: 80px;
    top: 365px;
    margin:30px;
    margin-right:30px;
    margin-bottom: 70px;
    background-color: #0245A3;
    line-height:2;
    z-index: 0;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5  );
    font-weight: 500;
    overflow: auto;
    white-space: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

a {
    color: white;
}

.about-me-text {
    color: #CABBE9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    overflow-y: auto;
}

.about-me-header {
    color: #CABBE9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/*      THIS SECTION IS FOR THE IMAGES      */
/* ---------------------------------------- */
/* ---------------------------------------- */

#autumn {
    position: fixed;
    top: 375px;
    left: 200px;
    width: 325px;
    height: auto;
    border-radius: 15px;
    z-index: 1;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5  );
}

#profile {
    position: fixed;
    top: 29px;
    right: 160px;
    width: 325px;
    height: auto;
    border-radius: 15px;
    z-index: 1;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5  );
}



/*                                          portfolio.html                                          */



/* ---------------------------------------- */
/* ---------------------------------------- */
/*      THIS SECTION IS FOR PROJECT PICS    */
/* ---------------------------------------- */
/* ---------------------------------------- */

#attendance-collection {
    position: fixed;
    left: 10%;
    top: 5%;
    width: 30%;
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/*       THIS SECTION IS FOR TEXT BOXES     */
/* ---------------------------------------- */
/* ---------------------------------------- */

.attendance {
    position: fixed;
    right: 5%;
    min-width: min-content;
    width: 50%;
    padding-top: 15px;
    padding-left:70px;
    padding-right: 70px;
    padding-bottom: 15px;
    margin:30px;
    margin-right:30px;
    margin-bottom: 70px;
    background-color: #0245A3;
    line-height:2;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5  );
    font-weight: 500;
    overflow: auto;
    white-space: normal;
    z-index: 2;
}

.attendance-header {
    color: #CABBE9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}

.attendance-bullet {
    color: #CABBE9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    overflow-y: auto;
}

.attendance-text {
    color: #CABBE9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    overflow-y: auto;
}

#tech-skills {
    left: 700px;
    top: 2.5%;
}

#tech-interest {
    left: 700px;
    top: 45%;
}

a {
    color: white;
}



/*                                          qualifications.html                                          */



/* ---------------------------------------- */
/* ---------------------------------------- */
/*      THIS SECTION IS FOR THE RESUME      */
/* ---------------------------------------- */
/* ---------------------------------------- */

.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 1;
}

#resume {
    position: fixed;
    left: 200px;
    top: 5%;
    height: 650px;
    width: 500px;
    z-index: 1;
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/*    THIS SECTION IS FOR THE TEXT BOXES    */
/* ---------------------------------------- */
/* ---------------------------------------- */

.technical-format {
    position: fixed;
    min-width: min-content;
    width: 40%;
    padding-top: 15px;
    padding-left:70px;
    padding-right: 70px;
    padding-bottom: 15px;
    margin:30px;
    margin-right:30px;
    margin-bottom: 70px;
    background-color: #0245A3;
    line-height:1.15;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5  );
    font-weight: 500;
    overflow: auto;
    white-space: normal;
    z-index: 2;
}

.tech-header {
    color: #CABBE9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

.tech-bullet {
    color: #CABBE9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    overflow-y: auto;
}

.tech-text {
    color: #CABBE9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    overflow-y: auto;
}

#tech-skills {
    left: 700px;
    top: 2.5%;
}

#tech-interest {
    left: 700px;
    top: 45%;
}

a {
    color: white;
}



/*                                          service.html                                          */



.past-service {
    position: fixed;
    min-width: min-content;
    left: 541px;
    top: 30px;
    width: 60%;
    padding-top: 15px;
    padding-left:70px;
    padding-right: 70px;
    padding-bottom: 15px;
    margin:30px;
    margin-right:30px;
    margin-bottom: 70px;
    background-color: #0245A3;
    line-height:2;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5  );
    font-weight: 500;
    overflow: auto;
    white-space: normal;
    z-index: 2;
}

.service-goals {
    position: fixed;
    left: 100px;
    top: 350px;
    min-width: min-content;
    width: 60%;
    padding-top: 15px;
    padding-left:70px;
    padding-right: 70px;
    padding-bottom: 15px;
    margin:30px;
    margin-right:30px;
    margin-bottom: 70px;
    background-color: #0245A3;
    line-height:2;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5  );
    font-weight: 500;
    overflow: auto;
    white-space: normal;
    z-index: 2;
}

.past-service-header {
    font-size: x-large;
    color: #CABBE9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-y: auto;
}

.past-service-text {
    font-size: medium;
    color: #CABBE9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-y: auto;
}

.service-goals-header {
    font-size: x-large;
    color: #CABBE9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-y: auto;
}

.service-goals-text {
    font-size: medium;
    color: #CABBE9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-y: auto;
}

#kittyhawk {
    position: fixed;
    left: 130px;
    top: 60px;
    width: auto;
    height: 286px;
    border-radius: 5%;
}

#veterans {
    position: fixed;
    right: 40px;
    top: 380px;
    width: auto;
    height: 285px;
    border-radius: 5%;
}



/*                                          AI.html                                          */



body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-button {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

h1 {
    margin: 0;
}

.content {
    max-width: 800px;
    margin: auto;
    padding: 2rem;
}

footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    height: 10%;
    bottom: 0;
}

.floating-container {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #007bff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    max-width: 80%;
    overflow: auto;
}

.floating-container p {
    margin: 0;
    color: white;
}